.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    color: #212529;
    padding: 1rem;
    text-align: center;
    margin-top: 3rem;
    font-family: 'Roboto Mono', monospace;
    background-color: #fff;
}

.Footer img {
    width: 30px;
}

@media (max-width: 800px) {
    .Footer {
        font-size: 1px;
        gap: .5rem;
    }
    .Footer img {
        width: 20px;
    }
}

@media (max-width: 600px) {
    .Footer {
        font-size: 0.7rem;
        gap: .5rem;
    }
    .Footer img {
        width: 20px;
    }
}

@media (max-width: 340px) {
    .Footer {
        font-size: 0.6rem;
        gap: .5rem;
    }
    .Footer img {
        width: 20px;
    }
}